body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar */
.navbar {
    background: #4F46E5;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

/* Card */
.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.sub {
    color: gray;
    font-size: 14px;
}

/* Buttons */
.primary-btn {
    display: inline-block;
    background: #4F46E5;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.secondary-btn {
    background: #10B981;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Dashboard */
.dashboard-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.test-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* Quiz */
.quiz-container {
    max-width: 800px;
    margin: 30px auto;
}

.question-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.question-card label {
    display: block;
    margin: 8px 0;
}

/* Table */
.table-container {
    padding: 30px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #4F46E5;
    color: white;
}

.score {
    font-size: 48px;
    color: #4F46E5;
}
